/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter, sans-serif;
  --accent-font: PressStart2P, monospace;

  --title-fnt-wght: 700;
  --title-line-height: 1.21;

  --text-fnt-wght: 400;
  --text-font-size: 1.13em; 
  --text-line-height: 1.16;

  --button-line-height: 0.9;
  --button-font-size: 0.88em;

  --border: 2px solid var(--main-color);

  --page-background-color: #fff;

  --watermark-stroke: #fff;

  --button-text-color: #fff;

  --heart-contour: #000;
  --heart-sparks: #ff0000;
  --heart-active: #ff0000;

  --background-image:
  repeating-linear-gradient(to right, #d3d3d3, transparent 4px),
  repeating-linear-gradient(to bottom, #d3d3d3, transparent 4px),
  repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);

  --main-color: #000;
}